﻿body {
    font-family: "Open Sans";
    color: #2B2B2B;
}

h1 {
    font-weight: 400;
    font-size: 34px;
    line-height: 56px;
}

/* Header */

header {
    text-align: center;
}

/* Task List */

.task-list {
    background-color: #E9E8E8;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    width: 720px;
    margin: auto;
    text-align:center;
    border-radius: 4px;
    border-style: solid;
    border-color: #2B2B2B;
    border-width: 1px;
}

.task-complete, .task-desc, .task-remove {
    display: inline-block;
    width: 110px;
    height: 70px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.task-remove {
    margin-top: 12px;
}

.task-desc {
    width: 350px;
    text-align: justify;
    height: 50px;
    font-size: 14px;
    line-height: 20px;
}

.task-complete {
    width: 50px;
}

.task-complete-wrap {
    height: inherit;
    width: inherit;
    display: table-cell;
    vertical-align: middle;
}

.task-entry {
    margin: 20px;
}

.text-strike {
    text-decoration: line-through;
}

/* Inputs */

textarea {
    font-family: "Open Sans";
    font-size: 12px;
    width: 300px;
    height: 50px;
    resize: none;
    margin-right: 10px;
}

input[type="text"] {
    width: 300px;
    font-family: "Open Sans";
}

input[type="submit"], input[type="button"] {
	background-color: #2B2B2B;
	color: white;
	border-radius:3px;
	font-size: 14px;
    height: 58px;
    line-height: 58px;
	cursor: pointer;
	border: none;
	padding-left: 25px;
	padding-right: 25px;
    vertical-align: top;
}

input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #6F6F6F;
}

/* Misc */

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}