﻿
@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".task-items").taskList("/api");
        });
    </script>
}

<div class="task-list">
    <form id="task-form" method="post">
        <div class="task-entry">
            <textarea id="txt-description" placeholder="Add Item" required></textarea>
            <input id="submit" type="submit" value="Add Task" />
        </div>
    </form>
    <div>
        <ul class="task-items">  
        </ul>
    </div>
</div>
<div class="error">
</div>

